:root {
    --main-bg: #FFDFDF;
    --main-text: #5E2CA5;
}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--main-bg);
    color: var(--main-text);
}

header{
    width: 100%;
    height: 20vh;
    margin: auto;
}
header pre{
    font-size: 0.65vw;
    text-align: center;
}

main {
    min-height: 70vh; 
}

footer {
    height: 10vh;
}
